.account {
  width: 100%;
}

.account__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2.5rem;
}

.account__header__h1 {
  color: var(--main-white);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 3.5rem;
}

@media screen and (max-width: 1000px) {
  .account__header__h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .account__header__h1 {
    font-size: 1.5rem;
  }
}
