/* .auth {
  display: flex;

  padding: 4rem 12rem;
} */

.auth {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    'headerlogin ... headersignup'
    'login ... signup';
  padding: 4rem 12rem;
}
/* 
.auth__border {
  border-left: 1px solid black;
} */
/* 
.auth__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 120px;
} */
/* 
.auth__signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
} */

.signup {
  width: 100%;
  grid-area: signup;
}

.login {
  width: 100%;
  grid-area: login;
}

.auth__login__header {
  width: 100%;

  grid-area: headerlogin;
}

.auth__signup__header {
  width: 100%;

  grid-area: headersignup;
}

.form__header {
  text-transform: capitalize;
  color: var(--gray);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__group__label {
  color: var(--gray);
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

::placeholder {
  text-transform: capitalize;
}

.form__group__in {
  font-size: 1rem;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
}

.form__btn {
  width: 100%;
  background-color: var(--main-black);
  border: 1px solid var(--main-black);
  color: var(--main-white);
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.form__btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.err--div__h4 {
  background-color: rgb(194, 49, 49);
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.success--div__h4 {
  background-color: rgb(95, 194, 49);
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .auth {
    padding: 4rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
      'headerlogin headersignup'
      'body body';
  }

  .signup {
    grid-area: body;
  }

  .login {
    grid-area: body;
  }

  .form__header {
    width: fit-content;
    padding: 0.5rem;
    border-bottom: 3px solid rgb(211, 211, 211);
    cursor: pointer;
  }

  #active__header {
    border-bottom: 3px solid rgb(27, 27, 27);
  }
}
