/* .collection {
  height: 100vh;
} */
.collection__hero {
  width: 100%;
  height: 35%;
  object-fit: cover;
  margin-bottom: 5rem;
}

.collection__body {
  display: flex;
  position: relative;
  margin-bottom: 8rem;
}

.collection__body__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: 32rem; */
  column-gap: 3rem;
  row-gap: 6rem;
  width: 100%;
  margin-right: 3rem;
}

.collection__midsection {
  width: 100%;
  /* margin: 0 auto; */
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .collection__hero {
    width: 100%;
    height: 46vh;
    margin-bottom: 0rem;
  }

  .collection__body {
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .collection__body__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: 32rem; */
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
  }

  .collection__midsection {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 750px) {
  .collection__body__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-rows: 32rem; */
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .collection__body {
    padding: 0 1rem;
  }

  .collection__body__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: 32rem; */
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
  }
}
