.product {
  width: 100%;
  /* min-width: 12rem; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product__img {
  position: relative;
  margin-bottom: -1rem;
}

.product__img__status {
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  color: var(--gray);
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  background-color: var(--main-white);
  border-radius: 11px;
  letter-spacing: 0.5px;
  border: 1px solid #dadada;
}

.product__imgCover {
  cursor: pointer;
  width: 100%;
}

.product__imgDetail {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.product__img:hover .product__imgDetail {
  display: inline;
}

.product__btn {
  width: 95%;
  margin: 0 0.5rem;
  position: relative;
  visibility: hidden;
}

.product:hover .product__btn {
  visibility: visible;
}

.product__btn__quickadd {
  background-color: var(--main-black);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__btn__quickadd h4 {
  color: var(--main-white);
  text-align: center;
  font-size: 0.7rem;
  text-transform: capitalize;
}

.product__btn__sizes {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--main-white);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  border: 1px solid #999999;
  border-right: 0;
}

.product__btn__sizes__size {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-right: 1px solid #999999;
}

.product__btn__sizes__size:hover {
  background-color: var(--main-black);
  color: var(--main-white);
}

.product__btn__sizes__size h4,
.not--available h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: normal;
}

.not--available {
  color: #dadada;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #999999;
  pointer-events: none;
  cursor: pointer;
}

.product__btn:hover .product__btn__sizes {
  visibility: visible;
}

.product__footer {
  width: 100%;
  margin-top: 1rem;
  padding: 0 0.5rem;
  line-height: 1.7;
}

.product__footer__color {
  opacity: 0.4;
  font-size: 0.7rem;
  text-transform: capitalize;
}

.product__footer__name {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--gray);
  cursor: pointer;
}

.product__footer__price {
  font-size: 0.7rem;
}

.product__footer__price span {
  font-weight: 900;
}
