.account--bar {
  width: 25rem;
  margin-right: 5rem;
  z-index: 100;
  position: sticky;
  top: 6rem;
  height: 90vh;
  overflow-y: scroll;
}

.account--bar::-webkit-scrollbar {
  display: none;
}

.account--bar__user {
  margin-bottom: 3rem;
}

.account--bar__user__name {
  font-size: 1.5rem;
  color: var(--gray);
  font-weight: 600;
}

.account--bar__user__email {
  font-size: 0.8rem;
  opacity: 0.5;
  color: var(--gray);
  font-weight: normal;
}

.account--bar__Links__link {
  font-size: 0.8rem;
  color: var(--gray);
  text-transform: capitalize;
  padding: 1rem 0;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.account--bar__links__header {
  display: none;
}

.account--bar__links__svg {
  width: 1rem;
}

.account--bar__links__active {
  border-bottom: 2px solid var(--main-black);
}

@media screen and (max-width: 1000px) {
  .account--bar {
    width: 100%;
    margin-right: 0rem;
    position: static;
    height: auto;
    top: 0;
    overflow: visible;
  }

  .account--bar__user {
    margin-bottom: 1rem;
  }

  .account--bar__links--container {
    position: relative;
  }

  .account--bar__links__header {
    display: block;
    border: 1px solid #b3b0b0;
  }

  .account--bar__links {
    display: none;
    background-color: var(--main-white);
    position: absolute;
    /* top: 0rem; */
    width: 100%;
    border: 1px solid #b3b0b0;
    z-index: 1000;
    /* height: 20rem; */
  }

  .account--bar__Links__link {
    border-bottom: none;
    padding: 0.5rem;
    border-bottom: 1px solid #b3b0b0;
  }

  .account--bar__links__active {
    border-bottom: 2px solid var(--main-black);
    background-color: #dddbdb;
  }
}
