.account--body__products__addproduct {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.account--body__products__addproduct__h3 {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--main-white);
  padding: 0.8rem;
  border: 1px solid var(--main-black);
  letter-spacing: 0.8px;
  font-weight: normal;
  background-color: var(--main-black);
  cursor: pointer;
}

.account--body__products__addproduct__h3:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.account--body__product__form {
  background-color: var(--main-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.account--body__product__form button {
  align-self: flex-end;
}

.account--body__product__form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.account--body__product__form__group label {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 1rem;
}

.account--body__product__form__group input,
.account--body__product__form__group textarea {
  color: var(--gray);
  text-transform: capitalize;
  width: fit-content;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;
}

.account--body__product__form__group textarea {
  width: 100%;
  height: 10rem;
}

.account--body__product__form__group__options__inp {
  display: none;
}

.account--body__product__form__group__options__label {
  color: var(--gray);
  text-transform: capitalize;
  width: 12.4rem;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* font-size: 5rem; */
  font-weight: normal;
}
/* 
.account--body__product__form__group__types__label svg {

} */

.account--body__product__form__options--container {
  position: relative;
}

.account--body__product__form__options {
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  width: 10rem;
  z-index: 1000;
}

.account--body__product__form__options__option {
  color: var(--gray);
  text-transform: capitalize;
  width: 12.4rem;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: normal;
}

.account--body__product__form__options__option:hover {
  background-color: #e4e4e4;
}

.account--body__product__form__options__option svg {
  width: 2rem;
}

.account--body__product__form__cutcollar,
.account--body__product__form__price {
  display: flex;
  /* align-items: center; */
  column-gap: 5rem;
  width: 100%;
}

.account--body__product__form__fabricfeatures {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  width: 100%;
  gap: 1rem;
  column-gap: 4rem; */
}

.account--body__product__form__fabricfeatures__feature {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 10rem;
}

.account--body__product__form__fabricfeatures__feature__label {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.account--body__product__form__fabricfeatures__feature__label span {
  font-size: 0.8rem;
}

.account--body__product__form__fabricfeatures__feature__label svg {
  width: 1.5rem;
}

.account--body__product__form__color {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

#account--body__product__form__color__inp {
  width: 5rem;
  padding: 0.5rem;
  height: 2.8rem;
}

.account--body__product__form__sizes__h3 {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.account--body__product__form__sizes--container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.account--body__product__form__group input[type='file'] {
  display: none;
}

.account--body__product__form__group__imgcover {
  width: 100%;
}

.account--body__product__form__group__fileinput {
  background-color: var(--main-black);
  width: fit-content;
  color: white !important;
  padding: 0.8rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  border: 1px solid var(--main-black);
  font-weight: normal;
}

.account--body__product__form__group__fileinput:hover {
  background-color: var(--main-white);
  color: var(--main-black) !important ;
}

.account--group__product__form__imgs--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

/* products container */

.account--body__products--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 2rem;
}

.account--body__products__product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.account--body__products__product__detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--main-black);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  visibility: hidden;
}

.account--body__products__product:hover
  .account--body__products__product__detail {
  visibility: visible;
}

.account--body__products__product__img {
  width: 100%;
}

.account--body__products__product__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-white);
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: normal;
}

.account--body__products__product__amount {
  color: var(--main-white);
  font-size: 0.8rem;
  text-transform: capitalize;
}

.account--body__products__product__sizes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #dadada; */
  width: 100%;
  /* padding: 0.5rem 0; */
  font-weight: normal;
}

.account--body__products__product__sizes h4 {
  color: var(--main-black);
  background-color: var(--main-white);
  font-size: 0.7rem;
  border: 1px solid var(--main-black);
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.account--body__product__addnewcolor {
  width: 100%;
  position: relative;
}

.account--body__product__addnewcolor__btn {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--main-white);
  padding: 0.8rem;
  border: 1px solid var(--main-black);
  letter-spacing: 0.8px;
  font-weight: normal;
  background-color: var(--main-black);
  cursor: pointer;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
}

.account--body__product__addnewcolor__btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.addnewcolor--container {
  border-bottom: 1px solid #747474;
  margin-bottom: 2rem;
  position: relative;
}

.account--body__product__addnewcolor__form__btn {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--main-white);
  padding: 0.8rem;
  border: 1px solid var(--main-black);
  letter-spacing: 0.8px;
  font-weight: normal;
  background-color: var(--main-black);
  cursor: pointer;
  font-weight: normal;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.account--body__product__addnewcolor__form__btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.account--body__product__form__btns {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
