.account--body__collections--container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 15rem 15rem 15rem; */
  gap: 2rem;
}

.account--body__collections__add {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.account--body__collections__add__h4 {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--main-white);
  padding: 0.8rem;
  border: 1px solid var(--main-black);
  letter-spacing: 0.8px;
  font-weight: normal;
  background-color: var(--main-black);
  cursor: pointer;
}

.account--body__collections__add__h4:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.account--body__collections__collection {
  width: 100%;
  height: 15rem;
}

.account--body__collections__collection:hover {
  border: 1px solid black;
}

.account--body__collection__form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.account--body__collection__form__group__label {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 1rem;
}

.account--body__collection__form__group input {
  color: var(--gray);
  text-transform: capitalize;
  width: fit-content;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;
}

.account--body__collection__form__group__select {
  color: var(--gray);
  text-transform: capitalize;
  width: 15rem;
  height: 3rem;
  font-size: 0.8rem;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.account--body__collection__form__group__select__inp {
  display: none;
}

.account--body__collection__form__group__options--container {
  position: relative;
}

.account--body__collection__form__group__options {
  width: 15rem;
  background-color: var(--main-white);
  border: 1px solid #dadada;
  position: absolute;
  top: 3rem;
  display: none;
}

.account--body__add__collection__form__group__options {
  width: 15rem;
  background-color: var(--main-white);
  border: 1px solid #dadada;
  position: absolute;
  top: 3rem;
  display: none;
}

.account--body__collection__form__group__options__option {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 0.8rem;
  padding: 0.8rem;
  border: 0.2px solid #dadada;
  background-color: #f5f5f5;

  cursor: pointer;
}

.account--body__collection__form__group__options__option:hover {
  background-color: #dbdada;
}

.account--body__collection__form__group input[type='file'] {
  display: none;
}

.account--body__collection__form__group__fileinput {
  background-color: var(--main-black);
  width: fit-content;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  border: 1px solid var(--main-black);
  font-weight: normal;
}

.account--body__collection__form__group__fileinput:hover,
.account--body__collection__form__group__btns button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.account--body__collection__form__group__imghero {
  width: 100%;
  /* height: 400; */
  object-fit: cover;
}

.account--body__collection__form__group__imgcover {
  width: 100%;
  /* height: 200; */
  object-fit: cover;
}

.account--body__collection__form__group__img,
.account--body__collection__form__group__imgdetail,
.account--body__collection__form__group__imgoverview {
  width: 45%;
  /* height: 400px; */
  object-fit: cover;
}

.account--body__collection__form__group__detail {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #9b9b9b;
  font-weight: normal;
}

.account--body__collection__form__group__btns {
  display: flex;
  gap: 8rem;
  width: 100%;
  justify-content: flex-end;
  margin-top: 4rem;
}

.account--body__collection__form__group__btns button {
  background-color: var(--main-black);
  width: 10rem;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  border: 1px solid var(--main-black);
  font-weight: normal;
}
