.collection {
  height: 100vh;
}
.collection__hero {
  width: 100%;
  height: 30%;
  margin-bottom: 5rem;
}

.collection__body {
  display: flex;
}

.collection__body__nav {
  width: 15rem;
  height: 100vh;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 3rem;
}

.collection__body__nav__header {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--main-black);
  opacity: 0.5;
  margin-bottom: 1rem;
}

.collection__body__nav__collections__names h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--gray);
  cursor: pointer;
}

.collection__body__nav__filters {
  margin-top: 1rem;
}

.collection__body__nav__filters__filter {
  padding: 1rem 0;
  border-top: 1px solid rgb(190, 190, 190);
}

.collection__body__nav__filters__filter__header {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 800;
  /* font-family: inherit; */
}

.collection__body__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  width: 100%;
  margin-right: 3rem;
}
