.sidebar {
  width: 12rem;
  height: 80vh;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  position: sticky;
  top: 6rem;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sidebar__header__close {
  color: rgb(148, 21, 21);
  font-size: 0.7rem;
  cursor: pointer;
  display: none;
}

.sidebar__header__h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--main-black);
  opacity: 0.5;
}
.sidebar__collections__names {
  margin-top: 1rem;
}

.sidebar__collections__names h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--gray);
  cursor: pointer;
}

.sidebar__filters {
  margin-top: 1rem;
}
.sidebar__filters__filter {
  padding: 1rem 0;
  border-top: 1px solid rgb(190, 190, 190);
}

.sidebar__filters__filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}

.sidebar__filters__filter__h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 800;
}

.down {
  transform: rotate(180deg);
}

.sidebar__filters__filter__hideItems {
  display: none;
}

.sidebar__filters__filter__items__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.sidebar__filters__filter__items__item svg {
  width: 2rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.sidebar__filters__filter__items__item:hover svg {
  background-color: var(--main-black);
}
.sidebar__filters__filter__items__item:hover .icon__path {
  stroke: var(--main-white);
}
.sidebar__filters__filter__items__item h4 {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
}

.active--filter svg {
  background-color: var(--main-black);
}

.active--filter .icon__path {
  stroke: var(--main-white);
}
