.collection {
  height: 100vh;
}
.collection__hero {
  width: 100%;
  height: 35%;
  margin-bottom: 5rem;
}

.collection__body {
  display: flex;
  position: relative;
}

.collection__body__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 3rem;
  row-gap: 5rem;
  width: 100%;
  margin-right: 3rem;
}
