.comparison {
  width: 100%;
  /* background-color: rgb(214, 144, 144); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comparison__img1,
.comparison__img2,
.comparison__img3 {
  width: 200%;
}

.comparison__img1 {
  z-index: 100;
}
.comparison__img2 {
  z-index: 99;
}
.comparison__img3 {
  z-index: 98;
}

.comparison__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comparison__info__h3 {
  font-size: 1rem;
  letter-spacing: 0.1px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.comparison__info__h3 span {
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  font-size: 0.6rem;
  margin-right: 1rem;
}

/* .comparison__info__ul {
} */

.comparison__info__li {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  margin-left: -1rem;
  text-transform: initial;
}

.comparison__link {
  color: var(--gray);
  font-size: 1rem;
  font-weight: normal;
  margin-top: 4rem;
  text-transform: capitalize;
  text-decoration: underline;
}
