/* .drop--shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'shirtsname images images'
    'sweatshirtsname images images';
  gap: 2rem;
  height: 90vh;
  overflow: scroll;
}

.drop--shop__shirts--container {
  display: flex;
}

.drop--shop__collections--container {
  display: flex;
}

.drop--shop__shirts {
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, 12rem));
  gap: 1rem;
  grid-area: images;
}

.drop--shop__collections {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 25rem));
  width: 100%;
  gap: 2rem;
  grid-area: images;
}

.drop--shop__shirts__names {
  grid-area: shirtsname;
}

.drop--shop__collections__names {
  grid-area: sweatshirtsname;
} */

/* 

.drop--shop__sidebar {
  border-right: 1px solid #d4d4d4;
  width: 15rem;
}

.drop--shop__sidebar__group {
  margin-bottom: 3rem;
}

.drop--shop__sidebar__group__h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  width: fit-content;
  border: 1px solid white;
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--gray);
}

.drop--shop__sidebar__group__h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 0.5rem;
  width: fit-content;
  border: 1px solid white;
  color: var(--gray);
  cursor: pointer;
}

.drop--shop__sidebar__group__h3:hover,
.drop--shop__sidebar__group__h4:hover {
  border-bottom: 1px solid var(--gray);
}

.active {
  border-bottom: 1px solid var(--gray);
}

.drop--shop__overview {
  margin-left: 5rem;
}

.drop--shop__shirts--imgs {
  display: grid;
  width: 40rem;
  grid-template-columns: repeat(3, minmax(5rem, 15rem));
  /* justify-content: space-between; */
/* gap: 2rem;
}

.drop--shop__collections {
  display: grid;
  width: 40rem;
  grid-template-columns: repeat(2, minmax(15rem, 20rem));
  gap: 2rem;
} */
/*                                     */
.drop--shop {
  display: grid;
  grid-template-columns: 1fr 0.7fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    '... shirts collections ...'
    '... sweatshirts collections ...';
  justify-content: space-between;
  gap: 4rem;
  /* justify-items: center; */
  padding: 2rem;
}

.drop--shop__shirts__names {
  grid-area: shirts;
}

.drop--shop__shirts--container {
  grid-area: collections;
  height: 20rem;
}

.drop--shop__shirts {
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, 12rem));
  gap: 1rem;
}

.drop--shop__collections__names {
  grid-area: sweatshirts;
}

.drop--shop__collections--container {
  grid-area: collections;
  display: none;
  height: 20rem;
}

.drop--shop__collections {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 20rem));
  gap: 1rem;
}

/*                                */

.drop--shop__names__h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: 1px solid var(--gray);
  color: var(--main-black);
  width: fit-content;
}

.drop--shop__names__h4 {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: capitalize;
  width: fit-content;
  border-bottom: 1px solid var(--main-white);
  cursor: pointer;
  color: var(--main-black);
}

.drop--shop__names__h4:hover {
  border-bottom: 1px solid var(--gray);
}

@media screen and (max-width: 1000px) {
  .drop--shop {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .drop--shop__shirts--container {
    height: 100%;
  }

  .drop--shop__shirts {
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 12rem));
    gap: 1rem;
    margin-bottom: 4rem;
    /* grid-area: shirts; */
  }

  .drop--shop__collections--container {
    display: block;
    height: 100%;
  }

  .drop--shop__collections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* grid-area: collections; */
  }
}
