.footer {
  width: 100%;
  /* height: 100%; */
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: '2fr 0.5fr 0.5fr';
  grid-template-areas: 'sections ... signup';
}

.footer__sections {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  grid-area: sections;
}

.footer__section__signup {
  grid-area: signup;
  width: fit-content;
}

.footer__section__header {
  font-size: 1.2rem;
  /* font-weight: 800; */
  margin-bottom: 1rem;
}

.footer__section__header::first-letter {
  text-transform: capitalize;
}

.footer__section__signup__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--main-white);
}

.footer__section__signup__h4 {
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--main-white);
}

.footer__section__link {
  color: var(--main-white);
  font-size: 0.7rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--main-black);
  width: fit-content;
}

.footer__section__link:hover {
  border-bottom: 1px solid var(--main-white);
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 5rem 2rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: '1fr';
    grid-template-areas:
      'signup'
      'sections';
    gap: 2rem;
  }
}
