.navbar_notification {
  display: flex;
  justify-content: center;
  background-color: var(--main-black);
  padding: 0.5rem;
}

.navbar_notification > h4 {
  font-size: 10px;
  color: var(--main-white);
  letter-spacing: 0.5px;
}

.navbar {
  padding: 0rem 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(205, 202, 202, 0.25);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--main-white);
  width: 100%;
}

.navbar__logo {
  cursor: pointer;
  width: 10rem;
  padding: 0 1rem;
}

.navbar__logo:hover .logo__path {
  animation: rotate 0.3s linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.navbar__headings {
  display: flex;
  align-items: center;
  /* padding: 2rem 0; */
  gap: 3.5rem;
}

.navbar__headings__h4 {
  color: var(--gray);
  padding: 2rem 0.1rem;
  border: 1px solid white;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.navbar__headings__h4:hover {
  border-bottom: 1px solid var(--gray);
}

.navbar__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #dddddd;
  padding-left: 1rem;
  margin-right: -1rem;
}
.navbar__icons__icon {
  margin-left: 1.5rem;
  cursor: pointer;
}
