.navbar__drop__collections--container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* padding-top: 2rem; */
  padding-bottom: 4rem;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .navbar__drop__collections--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 4rem; */
    padding: 2rem 1rem;
  }
}
