.navbar--collection {
  position: relative;
  height: 28rem;
}

.navbar--collection__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid white; */
  /* margin-bottom: 0.5rem; */
}
/* 
.navbar--collection__img:hover {
  border: 1px solid black;
} */

.navbar--collection__h4 {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--main-black);
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  width: fit-content;
  background-color: var(--main-white);
  text-align: center;
  padding: 0.5rem 2rem;
  border: 1px solid white;
}

.navbar--collection__img:hover + .navbar--collection__h4 {
  background-color: transparent;
  color: var(--main-white);
}

@media screen and (max-width: 1000px) {
  .navbar--collection {
    height: 40vh;
  }

  .navbar--collection__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid white; */
    /* margin-bottom: 0.5rem; */
  }
}
