.overview__main--collection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 8rem; */
}

.overview__main--collection__img {
  width: 100%;
  height: 72vh;
}

.overview__main--collection__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.overview__main--collection__box > h2 {
  color: var(--main-white);
  text-transform: uppercase;
}

.shop-now-btn {
  background: transparent;
  color: var(--main-white);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8rem 0.8rem;
  border: 1px solid var(--main-white);
  text-transform: capitalize;
  cursor: pointer;
}

.shop-now-btn:hover {
  background-color: var(--main-white);
  color: var(--gray);
}

.overview__our--mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 8rem 0;
  visibility: hidden;
}

.slideUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 8rem 0;
  animation-name: slideUp;
  animation-duration: 1.5s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.overview__our--mission__h4 {
  text-transform: uppercase;
  padding: 0.2rem 0rem;
  color: var(--gray);
  border-bottom: 1px solid var(--main-black);
  margin-bottom: 1rem;
}

.overview__our--mission__h3 {
  color: var(--gray);
  text-align: center;
  width: 50%;
  font-weight: 900;
}

.overview__collections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 2rem;
}

.overvieew__collections__collection {
  position: relative;
  /* width: 100%; */
}

.overview__collections__collection__img {
  width: 100%;
  height: 100%;
}

.overview__collections__collection__box {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.overview__collections__collection__h3 {
  color: var(--main-white);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}
