.product__detail {
  margin-left: 3rem;
  width: 22rem;
}

.product__detail__heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.product__detail__heading__status,
.product__detail__heading__fabric {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.5px;

  text-transform: uppercase;
  border-radius: 11px;
}

.product__detail__heading__status {
  background-color: var(--main-white);
  border: 1px solid #dadada;
  margin-right: 0.5rem;
}

.product__detail__heading__fabric {
  background-color: var(--main-black);
  color: var(--main-white);
}

.product__detail__name--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.product__detail__name {
  font-size: 1.5rem;
  color: var(--gray);
}

.product__detail__price {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 800;
}

.product__detail__price span {
  font-size: 1.2rem;
}

.product__detail__reviews {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.product__detail__reviews__stars {
  margin-right: 1rem;
}

.product__detail__reviews__ratings {
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--gray);
}

.product__detail__summary {
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}
.product__detail__summary__h4 {
  font-size: 0.7rem;
  color: var(--gray);
  opacity: 0.8;
  font-weight: normal;
}

.product__detail__colors__name {
  margin-bottom: 0.3rem;
}
.product__detail__colors__name__h4 span {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 0.7rem;
}

.product__detail__colors__name__h4 {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--gray);
  text-transform: uppercase;
  opacity: 1;
}

.product__detail__colors {
  display: flex;
  margin-bottom: 1.5rem;
}

.product__detail__colors__color {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #dadada;
  border-radius: 100%;
  margin-right: 0.4rem;
  cursor: pointer;
}
.product__detail__colors__color:hover {
  transform: scale(0.7);
}

.product__detail__colors__color--one {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #dadada;
  border-radius: 100%;
  margin-right: 0.4rem;
  cursor: pointer;
}

.product__detail__fabric--container {
  border-bottom: 1px solid #dadada;
}

.product__detail__fabric--name {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--gray);
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.product__detail__fabric--name span {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 0.7rem;
}

.product__detail__fabric--box {
  display: flex;
  gap: 0.8rem;
}

.product__detail__fabric--box__h4 {
  font-size: 0.7rem;
  color: var(--gray);
  padding: 0.5rem 0.8rem;
  border: 1px solid #dadada;
  width: fit-content;
  text-transform: capitalize;
  background-color: #f1f1f1;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.product__detail__fabric--box__h4--one {
  border: 1px solid var(--gray);
  font-size: 0.7rem;
  color: var(--gray);
  padding: 0.5rem 0.8rem;
  width: fit-content;
  text-transform: capitalize;
  background-color: #f1f1f1;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
