.product--page--container {
  /* padding: 4rem 10rem; */
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product--page {
  width: 75%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* padding: 0 10rem; */
  /* justify-content: space-around; */
}

.related--cuts--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.related--cuts--header {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--gray);
}

.related--cuts {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 3rem;
  margin: 2rem;
}

.product--page__collections {
  width: 90%;
}
