.product__detail {
  margin-left: 3rem;
  width: 22rem;
}

.product__detail__heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.product__detail__heading__status,
.product__detail__heading__fabric {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.5px;

  text-transform: uppercase;
  border-radius: 11px;
}

.product__detail__heading__status {
  background-color: var(--main-white);
  border: 1px solid #dadada;
  margin-right: 0.5rem;
}

.product__detail__heading__fabric {
  background-color: var(--main-black);
  color: var(--main-white);
}

.product__detail__name--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__detail__name {
  font-size: 1.5rem;
  color: var(--gray);
}

.product__detail__price {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 800;
}

.product__detail__price span {
  font-size: 1.2rem;
}
