.product__detail {
  /* margin-left: 3rem; */
  /* width: 22rem; */
  width: 100%;
  height: fit-content;
}

.product__detail__heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.product__detail__heading__status,
.product__detail__heading__fabric {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.5px;

  text-transform: uppercase;
  border-radius: 11px;
}

.product__detail__heading__status {
  background-color: var(--main-white);
  border: 1px solid #dadada;
  margin-right: 0.5rem;
}

.product__detail__heading__fabric {
  background-color: var(--main-black);
  color: var(--main-white);
}

.product__detail__name--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.product__detail__name {
  font-size: 1.5rem;
  color: var(--gray);
}

.product__detail__price {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 700;
}

.product__detail__price span {
  font-size: 1rem;
}

.product__detail__reviews {
  display: flex;
  align-items: center;
  width: fit-content;
}

.product__detail__reviews__stars {
  margin-right: 1rem;
}

.product__detail__reviews__ratings {
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--gray);
}

.product__detail__summary {
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}
.product__detail__summary__h4 {
  font-size: 0.7rem;
  color: var(--gray);
  opacity: 0.8;
  font-weight: normal;
}

.product__detail__colors__name {
  margin-bottom: 0.3rem;
}
.product__detail__colors__name__h4 span {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 0.7rem;
}

.product__detail__colors__name__h4 {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--gray);
  text-transform: uppercase;
  opacity: 1;
}

.product__detail__colors {
  display: flex;
  margin-bottom: 1.5rem;
}

.product__detail__colors__color {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #dadada;
  border-radius: 100%;
  margin-right: 0.4rem;
  cursor: pointer;
}
.product__detail__colors__color:hover {
  transform: scale(0.7);
}

.product__detail__colors__color--one {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #dadada;
  border-radius: 100%;
  margin-right: 0.4rem;
  cursor: pointer;
}

.product__detail__fabric--container {
  border-bottom: 1px solid #dadada;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.product__detail__fabric--name {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--gray);
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.product__detail__fabric--name span {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 0.7rem;
}

.product__detail__fabric--box {
  display: flex;
  gap: 0.8rem;
}

.product__detail__fabric--box__h4 {
  font-size: 0.7rem;
  color: var(--gray);
  padding: 0.5rem 0.8rem;
  border: 1px solid #dadada;
  width: fit-content;
  text-transform: capitalize;
  background-color: #f1f1f1;
  /* margin-bottom: 1.5rem; */
  cursor: pointer;
}

.product__detail__sizes--container {
  border-bottom: 1px solid #dadada;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.product__detail__sizes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__detail__sizes__sizeChart {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.9;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}

.modal-content {
  /* margin: 15% auto; 15% from the top and centered */
  /* padding: 20px; */
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  /* width: 50%;*/
  height: 100vh;
}

.close {
  color: var(--main-black);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product__detail__sizes__h4 {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--gray);
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.product__detail__sizes__h4 span {
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--gray);
  opacity: 0.8;
  margin-left: 0.7rem;
}

.product__detail__sizes {
  display: flex;
  gap: 0.5rem;
}

.product__detail__sizes__size--h4 {
  font-size: 0.7rem;
  color: var(--gray);
  padding: 0.5rem 0;
  border: 1px solid #dadada;
  width: 2rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #f1f1f1;
  cursor: pointer;
}

.product__detail__sizes__size--h4:hover,
.product__detail__sizes__size--h4--not:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  opacity: 1;
}

.product__detail__sizes__size--h4--not {
  font-size: 0.7rem;
  color: var(--gray);
  padding: 0.5rem 0;
  border: 1px solid #dadada;
  width: 2rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #f1f1f1;
  cursor: pointer;
  opacity: 0.5;
}

.selected {
  border: 1px solid var(--main-black);
}

.product__detail__btn__addToCart {
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem 0;
  text-transform: capitalize;
  color: var(--main-white);
  background-color: var(--main-black);
  border: none;
  cursor: pointer;
  border: 1px solid var(--main-black);
}

.product__detail__btn__addToCart:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.product__detail__btn__notify {
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem 0;
  text-transform: capitalize;
  color: var(--main-white);
  background-color: var(--main-black);
  border: none;
  cursor: pointer;
  opacity: 0.2;
}

.product__detail__fabric--features__container {
  margin-top: 5rem;
}

.product__detail__fabric--features__heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--main-black);
}

.product__detail__fabric--features {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 1.5rem;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.product__detail__fabric--features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.6rem;
}

.product__detail__fabric--features__feature svg {
  width: 1.5rem;
}

.product__detail__fabric--features__feature__h4 {
  color: var(--main-black);
  font-size: 0.67rem;
  text-transform: capitalize;
  opacity: 0.5;
}

.product__detail__product--features--container {
  border-top: 1px solid #dadada;
}

.product__detail__product--features__heading {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__detail__product--features__h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--gray);
  cursor: pointer;
  width: 100%;
}

.product__detail__product--features__svg {
  width: 1.6rem;
  cursor: pointer;
  padding: 0.5rem;
}

.minus {
  display: none;
}

.product__detail__product--features__content {
  display: none;
}

.product__detail__product--features__item {
  margin: 1rem 0;
  color: #888;
  font-size: 0.9rem;
  text-transform: initial;
  font-weight: normal;
}

@media screen and (max-width: 1000px) {
  .product__detail {
    padding: 0 1rem;
  }
}
