.shop--header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.shop--header__collection {
  /* width: 20rem; */
  /* height: 100%; */
  position: relative;
}

.shop--header__collection__img {
  width: 100%;
}

.shop--header__collection__h4 {
  color: var(--main-black);
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
