* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  /* margin-top: -60px; */
  /* margin-bottom: 450px; */
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:root {
  --main-black: #000000;
  --main-white: #ffffff;
  --gray: #333333;
}

h1 {
  font-size: 64px;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 0.6rem;
  font-weight: 600;
}

/* h5 {
  font-size: 12px;
  font-weight: bold;
} */

.App {
  font-family: 'Akzidenz-Grotesk BQ', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.2px;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.link:active {
  color: var(--gray);
}
